@{
    import  (
    )
    var cartCount int
}
<div data-container-reloadon="cart_updated">
<header style="padding: 20px; background-color: #ddd;">
  This is a header, cart(@cartCount)
</header>
</div>
