@{
    import  (
        "github.com/theplant/containers/example/models"
        "strings" 
    )
    var p *models.Product
}
<html>
  <body>
    <h1>Hello @strings.TrimSpace(p.Name)</h1>

  </body>
</html>
